<html>
<head>
	<title>hlbase</title>
	
</head>
<body>
	<p>HTTL SpringMVC Demo</p>
	<p>${header.userAgent}</p>
	<p>books:${books}</p>
	<p>session:${session.user}</p>
	<p><a href="${request.contextPath}/">go home</a></p>
	<p>${"jason".contains("j")}</p>
<form action="">
  	username:<input name="username"><br/>
  	password:<input name="password"><br/>
  	<input type="checkbox" name="rememberme">remember me  <br/>
  	<input type="submit" value="submit">
  	</form>
  	<script type="text/javascript">
  		//alert("撒旦撒旦撒旦撒旦");
  	</script>
</body>
</html>